@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@600;700&display=swap");

:root {
    --sombra: 0px 4px 12px rgba(0, 0, 0, 0.4);
    --oscuro: #e0e0e0;
    --fondo: #121212;
    --claro: #2d2d3a;
    --fuerte: #ffb74d;
    --secundario: #03dac6;
    --borde: #444;
    --hover-bg: #333;
}

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--fondo);
    color: var(--oscuro);
}

header {
    box-shadow: var(--sombra);
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 0.5rem;
}

#nav-menu {
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#nav-menu li {
    list-style: none;
    margin: 0.2rem;
}

#nav-menu li a{
    text-decoration: none;
    color: var(--fuerte);
    padding: 0.2rem;
    border-radius: 1rem;
}

#nav-menu a:hover{
    color: var(--fondo);
    background-color: var(--hover-bg);
    box-shadow: 0 0 8px var(--fuerte);
}

address {
    display: none;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--fuerte);
    box-shadow: var(--sombra);
}

h1 {
    font-size: 2rem;
    margin: 1rem;
}

section {
    max-width: 90%;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: var(--claro);
    border-radius: 8px;
    box-shadow: var(--sombra);
}

h2 {
    color: var(--fuerte);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

ul, ol {
    padding-left: 1rem;
}

.certificados {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.certificados img {
    width: 100px;
    border-radius: 8px;
    box-shadow: var(--sombra);
    transition: transform 0.3s ease;
}

.certificados img:hover {
  transform: scale(2);
  border: 2px solid var(--borde);
}

footer {
    background-color: var(--oscuro);
    text-align: center;
    padding: 1.5rem;
}

footer a {
    color: var(--fondo);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    h1 {
        font-size: 46px;
    }
    body {
        font-size: larger;
    }
    .top-bar {
        display: flex;
        justify-content: flex-start;
    }
    address {
        display: block;
        padding-left: 1.5rem;
    }
    address a {
        text-decoration: none;
        color: var(--oscuro);
    }
    
    .hero {
        flex-direction: row;
    }
}

@media (max-width: 1280px) {
    address {
        margin: 0 1rem 0 auto;
    }
}